{% extends 'giveinfo/index.html' %}
{% block content %}

<div class="blog-header">
  <h1 class="blog-title">About</h1>
  <!--  <p class="lead blog-description">About</p> -->
</div>

<div class="row">

  <div class="col-sm-8 blog-main">
　<ul>
 　<div class="blog-post">
  　 <h1 class="blog-post-title">当ＨＰについて</h1>
   　　<p>
       <dl>
          <dt>当サイトについて</dt>
             <dd>南ドイツの片田舎、チュービンゲンに滞在する、あるいは滞在予定の日本人にとって役立つ情報をまとめています。コラムや留学体験記を書いてくれる人を常に募集してますので、
               いらっしゃいましたら<a href="mailto:code1110g-show@hotmail.co.jp">管理人</a><br>まで教えてください。</dd>
               <br>
               <br>
          <dt>管理人について</dt>
             <dd>チュービンゲンで博士課程の学生をしています。日本の私立大学で高い学費を払いながら（涙）生物学を学んだ後、「神経科学面白いじゃん！でも日本の大学院学費かかるから厳しいね！」ということで、
               学費タダで興味のある分野に強そうなドイツへやってまいりました。現在は、基本的に研究室でこき使われております。休みがほしい。</dd>
               <br>
               <br>
          <dt>開発環境について</dt>
             <dd><del>興味ある人いるのかこれ</del>プログラミング言語は数多くあれど、Pythonがやっぱいいんじゃね？！という思いから、<a href="https://www.djangoproject.com/" target="_blank">Django</a>という、
               PythonでＨＰ製作・管理ができるFrameworkを使用しています。ＨＰの体裁を整えるHTML、CSSは、<a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>から引っ張ってきました。エディターは
               カッコよくてしかもタダな<a href="https://atom.io/" target="_blank">Atom</a>を使用しています。</dd>

　　  </dl>
    </p>
　 </div>
　</ul>

{% endblock %}
