{% extends 'giveinfo/index.html' %}
{% block content %}

<div class="blog-header">
  <h1 class="blog-title">{{ theme_category }}</h1>
  <p class="lead blog-description">{{ smalltext_title }}}</p>
</div>

<div class="row">
  <div class="col-sm-8 blog-main">
　<ul>
 　　{% for p in post %}
     <li><a href="{% url 'giveinfo:article' p.id %}">{{ smalltext_title }}</a></li>
 　<div class="blog-post">
  　 <h1 class="blog-post-title">{{ p.text_title }}</h1>
   　　<p class="blog-post-meta"> {{ p.pub_date }} <a href="#">{{ p.writer }}</a></p>
      <img src={{ p.correspond_img }} width="810" height="500" alt={{ smalltext_title }}/>

      <p>{{ p.main_text }}</p>
　 </div>
 {% endfor %}
　</ul>
 {% else %}
　　<p> 記事（テーマ別コラム、留学体験記）を執筆してくれる人を募集しています。やってもいいかなーという人は、<a href="mailto:code1110g-show@hotmail.co.jp">管理人</a><br>まで教えてください。</p>
 {% endif %}
{% endblock %}
