{% extends 'giveinfo/index.html' %}
{% block content %}

<div class="blog-header">
  <h1 class="blog-title">お役立ち情報</h1>
  <p class="lead blog-description">Contact</p>
</div>

<div class="row">

  <div class="col-sm-8 blog-main">
　<ul>
 　<div class="blog-post">
  　 <h1 class="blog-post-title">管理人へのコンタクト</h1>
   　　<p class="blog-post-meta"> --- <a href="#">管理人</a></p>

   　　<p>当ＨＰに関する質問・要望、あるいは、コラムや留学・滞在体験記を書きたいという方がいらっしゃいましたら、遠慮なく<a href="mailto:code1110g-show@hotmail.co.jp">管理人</a><br>までお問い合わせください！</p>
　 </div>
　</ul>

{% endblock %}
