{% extends 'giveinfo/index.html' %}
{% load staticfiles %}
{% block content %}

<!-- NAVBAR
================================================== -->
  <div class="navbar-wrapper">
    <div class="container">

      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

      <a class="navbar-brand" href="{% url 'top_page:positive' %}">Tü &hearts;</a>
         </div>
          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                 <li><a href="{% url 'top_page:index' %}">Home</a></li>
                 <li><a href="{% url 'giveinfo:about' %}">About</a></li>
                 <li><a href="{% url 'giveinfo:contact' %}">Contact</a></li>
              </ul>
          </div>
       </div>
    </nav>
   </div>
  </div>

  <!-- content
  ================================================== -->
  <div class="container">
    <div class="whiteback">

  <!--     <img src="{% static 'images/links.jpg' %}" class="img-responsive center-block" alt="building"> -->

    </div>
  </div>



<div class="container">

  <div class="whiteback">

  <div class="blog-header">
    <h1 class="blog-title">生活お役立ち情報</h1>
    <p class="lead blog-description">滞在・留学体験記</p>
  </div>
　<hr>


 {% if posts %}

  <div class="row">

    <div class="col-sm-8 blog-main">
    <div class="blog-post">
       <h3 class="blog-post-title">{{ posts.text_title }}</h3>
       <p class="blog-post-meta">投稿日: {{ posts.pub_date }} 、 投稿者：{{ posts.writer }}</p>

       <br>
          {% for experience in posts.experiencetext_set.all %}
           <p>{{ experience.main_text|linebreaks }}</p>
          {% endfor %}
        <br>
        <hr>
    </div>
  {% else %}
     <p>追加された滞在・留学体験記はありません。</p>
  {% endif %}
          　　
{% endblock %}
