{% extends 'giveinfo/index.html' %}
{% block content %}


<div class="blog-header">
  <h1 class="blog-title">{{ theme_category }}</h1>
  <p class="lead blog-description">{{ smalltext_title }}}</p>
</div>

<div class="row">

  <div class="col-sm-8 blog-main">
　<ul>
 　<div class="blog-post">
  　<!-- <h1 class="blog-post-title">当ＨＰについて</h1>
   　　<p class="blog-post-meta"> --- <a href="#">管理人</a></p> -->

   　　<p>
       <dl>
         {% if post %}
         <ul>
            {% for p in post %}
               <dl>
                  <dt>{{ p.link_title }}</dt>
                  <dd>{{ p.link_text }}</dd>
                  <dd><a href="{{ p.link_text }}"></a>{{ p.link_text }}</dd>
               </dl>
               <br>
            {% endfor %}
         </ul>
         {% else %}
         <p>追加されたリンクはありません。</p>
         {% endif %}

<!--          <dt>人口</dt>
             <dd>85,000人　（東京都: 10,000,000人、大阪: 2,700,000人、京都: 1,500,000人）</dd>
          <dt>学生数</dt>
             <dd>28,400人　（早稲田大学: 55,000人、同志社大学: 29,000人、中央大学: 26,000人）</dd>
          <dt>住宅価格</dt>
             <dd>高い順でドイツ6位　(1: München 2: Germering 3: Stuttgart 4: Leinfelden-Echterdingen 5: Dachau)</dd> -->
　　  </dl>
    </p>
　 </div>
　</ul>

{% endblock %}
