{% extends 'giveinfo/index.html' %}
{% block content %}

<div class="blog-header">
  <h1 class="blog-title">お役立ち情報</h1>
  <p class="lead blog-description">留学・滞在体験記/役立つコラム</p>
</div>

<div class="row">

  <div class="col-sm-8 blog-main">
　<ul>
 　<div class="blog-post">
  　<!-- <h1 class="blog-post-title">当ＨＰについて</h1>
   　　<p class="blog-post-meta"> --- <a href="#">管理人</a></p> -->

   　　<p>
       <dl>
          <dt>留学・滞在体験記</dt>
             <dd>チュービンゲンに住むってどんな感じ？すでにチュービンゲンに住んでいるor住んでいた日本人の皆さんに、それぞれの経験を語ってもらいました。</dd>
          <dt>役に立つコラム</dt>
             <dd>外国での生活、言語、手続き、旅行などなど・・・・共有するとみんなの役に立つ（かもしれない）記事を、元・現チュービンゲン在住の日本人の皆さんに書いてもらいました。</dd>
          <dt>お役立ちリンク集</dt>
             <dd>ドイツで生きていくにはかかせない（かもしれない）、役に立つリンクを集めています。</dd>

　　  </dl>
    </p>
　 </div>
　</ul>

{% endblock %}
