{% extends 'giveinfo/index.html' %}
{% load staticfiles %}
{% block content %}

<!-- NAVBAR
================================================== -->
  <div class="navbar-wrapper">
    <div class="container">

      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

      <a class="navbar-brand" href="{% url 'top_page:positive' %}">Tü &hearts;</a>
         </div>
          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                 <li><a href="{% url 'top_page:index' %}">Home</a></li>
                 <li class="active"><a href="{% url 'giveinfo:about' %}">About</a></li>
                 <li><a href="{% url 'giveinfo:contact' %}">Contact</a></li>
              </ul>
          </div>
       </div>
    </nav>
   </div>
  </div>

  <!-- content
  ================================================== -->
  <div class="container">
    <div class="whiteback">

       <img src="{% static 'gallary/suzu9.jpg' %}" class="img-responsive center-block" alt="about">

    </div>
  </div>

<div class="container">

  <div class="whiteback">

    <div class="blog-header">
      <h2 class="blog-title">チュービンゲンについて</h2>
      <p class="lead blog-description">南ドイツ、黒い森にある小さな大学街、チュービンゲンについてまとめています。</p>
    </div>
　<hr>

<div class="row">

  <div class="col-sm-8 blog-main">
　<ul>
 　<div class="blog-post">
  　<!-- <h1 class="blog-post-title">当ＨＰについて</h1>
   　　<p class="blog-post-meta"> --- <a href="#">管理人</a></p> -->

   　　<p>
       <dl>
         {% if posts %}
         <ul>
            {% for p in posts %}
            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">{{ p.head }} <span class="text-muted">{{ p.subhead }}</span></h2>
                <p class="lead">{{ p.main_text }}</p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" data-src={{ p.correspond_img.url }} alt={{ p.head }} />
              </div>
            </div>

            <hr class="featurette-divider">
            {% endfor %}
         </ul>
         {% else %}
         <p>追加されたまとめはありません。</p>
         {% endif %}

<!--          <dt>人口</dt>
             <dd>85,000人　（東京都: 10,000,000人、大阪: 2,700,000人、京都: 1,500,000人）</dd>
          <dt>学生数</dt>
             <dd>28,400人　（早稲田大学: 55,000人、同志社大学: 29,000人、中央大学: 26,000人）</dd>
          <dt>住宅価格</dt>
             <dd>高い順でドイツ6位　(1: München 2: Germering 3: Stuttgart 4: Leinfelden-Echterdingen 5: Dachau)</dd> -->
　　  </dl>
    </p>
　 </div>
　</ul>

{% endblock %}
